// Extra large devices (large desktops, 1200px and up)
@include mediaXl {
}

// Large devices (desktops, 992px and up)
@include mediaLg {
  .hero_area {
    height: auto;
  }

  .department_area .single_department h3 {
    left: 20%;
  }

  .about_area .about_video::after {
    left: -25px;
  }
}

// Medium devices (tablets, 768px and up)
@include mediaMd {
  .hero_area {
    height: auto;
  }

  .department_area .single_department h3 {
    left: 10%;
  }

  .about_area .about_video::before {
    height: 270px;
    width: 270px;
    left: 28px;
    top: -20px;
  }
  .about_area .about_video::after {
    left: -145px;
  }
}

// Small devices (landscape phones, 576px and up)
@include mediaSm {
  .hero_area {
    height: auto;
    background-size: inherit;
  }

  .department_area .single_department h3 {
    left: 20%;
  }

  .about_area .about_video {
    margin-bottom: 75px;
  }

  .about_area .about_video::before {
    height: 330px;
    width: 330px;
    left: 47px;
    top: -19px;
  }
  .about_area .about_video::after {
    left: -130px;
  }

  .around_area .single_course {
    height: auto;
  }
  .around_area .single_course img {
    width: 100%;
  }
}

// Extra small devices (portrait phones, less than 576px)
@include mediaXs {
  .hero_area {
    height: auto;
    background-size: inherit;
  }

  .about_area .about_video {
    margin-bottom: 50px;
  }
  .about_area .about_video::before {
    height: 170px;
    width: 170px;
    left: 25px;
    top: -8px;
  }
  .about_area .about_video::after {
    background: none;
  }

  .around_area .single_course {
    height: auto;
  }
  .around_area .single_course img {
    width: 100%;
  }

  .copyright_nav li {
    display: block;
    text-align: center;
  }
}
